button{
    background-color: hsl(216, 100%, 50%);
    border: none;
    font-size: 18px;
    border-radius: 10px;
}
button:hover{
    background-color: #005CE6;
}
.btnSign{
    height: 50px;
    width: 100px;
    color: white;
}
.btnStart{
    height: 50px;
    width: 250px;
    color: white;
}
.btnExplore{
    height: 50px;
    width: 250px;
    background-color: transparent;
    border: 1.5px solid lightgray;
    font-weight: 500;
}
.btnExplore:hover{
    background-color: initial;
    border: 1.5px solid hsl(0, 0%, 73%);

}